//
// Flexbox Tutorial: https://css-tricks.com/snippets/css/a-guide-to-flexbox/
// 

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

//
// These mixins are [size]-up. 
//

// Small devices
@mixin sm {
   @media (min-width: #{$screen-sm-min}) {
       @content;
   }
}

@mixin sm-down {
   @media (max-width: #{$screen-sm-min} + 1) {
       @content;
   }
}

// Medium devices
@mixin md {
   @media (min-width: #{$screen-md-min}) {
       @content;
   }
}

@mixin md-down {
   @media (max-width: #{$screen-md-min + 1}) { 
       @content;
   }
}

// Large devices
@mixin lg {
   @media (min-width: #{$screen-lg-min}) {
       @content;
   }
}

// Extra large devices
@mixin xl {
   @media (min-width: #{$screen-xl-min}) {
       @content;
   }
}


//
// Example
// 
// .pricing_table 
// {
//     padding: 5px 10px;
// 
//     // Desktop upwards, ensure use this mixin to change it.
//     @include lg {
// 	       padding: 0 20px;
//     }
// }
//
//